{% load static %} 

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>She Codes News</title>
        <meta name="description" content="">
        <meta name="author" content="KimDaniels">
        <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <header>
                <a id="header-link" href="{% url 'news:index' %}">
                    <h1>She {Codes} News</h1>
                </a>
            {% include './nav.html' %}
        </header>
        {% block content %}{% endblock %}
    </body>

    <footer>
    <a href='https://www.freepik.com/free-vector/newspaper-report-isometric-illustration_17714296.htm#page=1&query=newspaper%20editorial&position=5'</a>
    </footer>
</html>
