@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

body {
    background: url("images/2101.i109.010_newspaper_editorial_office_publishing_isometric.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    padding: 50px;
}

header {
    background-color: #ff8ecc;
    border-radius: 15px 50px;
    padding: 20px;
    margin: 1.5rem;
    display: flex;
    justify-content: space-evenly; 
}

h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 4rem;
    text-decoration: none;
    margin: 0;
}

h2 {
   font-family: 'Montserrat Subrayada', sans-serif;
   color: rgb(133, 23, 155); 
   font-weight: bold;
   font-size: 2rem;

}

h3 {
    font-size: 2rem;
    margin: 0;
}

nav {
    align-self: flex-end;
}

a {
    margin: 2px;
    text-decoration: none;
    
}

a, p {
    font-family: monospace;
    font-size: large;
    font-weight: bolder;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: monospace;
}
  
li {
    float: left;
}
  
li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: monospace;
}
  
li a:hover {
    background-color: rgb(20, 203, 216);
}

.create-account {
    display: inline-flex;
    background-color: cornsilk;
    opacity: 0.7;
    padding: 20px;
}

div {
    background-color: cornsilk;
    opacity: 0.7;
    filter: alpha(opacity=70)
}

div:hover {
    opacity: 1.0;
        filter: alpha(opacity=100);
}